@use "sass:map";
@use "../../styles/tokens" as t;
@use "../../styles/mixins" as mx;
@use "../../styles/mixins/elevation" as elev;

.hobby-intro {
  min-height: 600px;
  padding: 0 30rem;

  position: relative;
  isolation: isolate;
  background: url("/assets/images/hobbies/bg.jpg") bottom/cover no-repeat;
  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include mx.mqDown(tb) {
    padding: 0 t.space(large);
  }

  @include mx.mqDown(mb) {
    padding: 0 t.space(8);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(31, 107, 95, 0.7);
    backdrop-filter: blur(2px);
    z-index: -1;
    pointer-events: none;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: t.t-color(white);

    h1 {
      @include mx.fluid-text(h1);
    }

    p {
      @include mx.fluid-text(h6);
      max-width: 400px;
    }
  }
}

.hobby-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  padding: 0 30rem;
  gap: t.space(5);
  margin-top: - t.space(large);

  margin-bottom: t.space(8);

  @include mx.mqDown(tb) {
    padding: 0 t.space(large);
  }

  @include mx.mqDown(mb) {
    padding: 0 t.space(8);
    min-width: 250px;
    max-width: 450px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.hobby {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: t.t-color(surface);
  border-radius: t.rad(md);

  padding: t.space(5);

  min-height: 200px;
  color: t.t-color(text-base);

  h3 {
    @include mx.fluid-text(h6);
    margin-bottom: t.space(2);
  }

  p {
    @include mx.fluid-text(body);
    margin-bottom: t.space(2);
  }

  img {
    min-width: 80px;
    max-width: 150px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: t.space(4);

    @include mx.mqDown(mb) {
      max-width: 120px;
    }
  }
}
