@use "sass:map";

$spacing: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 24px,
  6: 32px,
  7: 40px,
  8: 48px,
  large: 96px,
  xl: 240px,
  2xl: 320px,
  3xl: 360px,
);

@function space($size) {
  @return map.get($spacing, $size);
}
